#board {
    height: 100%;
    display: grid;
    grid-template: 1fr 150px / 1fr;
    #board-list {
        display: flex;
        margin: 15px 0;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &::-webkit-scrollbar {
            display: none;
        }
        .board-list-item {
            width: 97.5%;
            height: 25%;
            display: flex;
            cursor: pointer;
            margin: 5px auto;
            border-radius: 10px;
            align-items: center;
            background-color: $Dark;
            &:hover {
                background-color: $Comment;
            }
            .board-list-item-info {
                padding: 0 25px;
                font-family: $Gamja;
                text-shadow: 1px 1px 3px $Black;
                .board-list-item-title {
                    font-size: 24px;
                }
                .board-list-item-channelTitle {
                    color: $Purple;
                    font-size: 20px;
                    font-weight: 700;
                }
            }
        }
    }
    #board-control {
        background-color: $Black;
    }
}