#board {
    height: 100%;
    #board-list {
        height: 100%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        .board-list-item {
            width: 97.5%;
            height: 100px;
            display: flex;
            cursor: pointer;
            margin: 10px auto;
            border-radius: 10px;
            align-items: center;
            border: 3px solid $Comment;
            background-color: $Dark;
            &:hover {
                background-color: $Comment;
            }
            &.active {
                background: linear-gradient(45deg, #7474BF, #348AC7);
            }
            .board-list-item-info {
                margin: 0 25px;
                overflow: hidden;
                font-family: $Gamja;
                white-space: nowrap;
                text-shadow: 1px 1px 1px $Black;
                .board-list-item-title {
                    font-size: 28px;
                }
                .board-list-item-channelTitle {
                    color: $Purple;
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
        @include Responsive {
            .board-list-item {
                margin: 22.5px auto;
                height: 15%;
                width: 95%;
                .board-list-item-info {
                    .board-list-item-title {
                        font-size: 2.5rem;
                    }
                    .board-list-item-channelTitle {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}