#control {
    justify-content: center;
    background-color: $Black;
    align-items: center;
    padding: 0 7.5%;
    display: flex;
    @include Responsive {
        padding: 0 10%;
    }
    #control-master {
        font-size: 75px;
        cursor: pointer;
        color: $Blue;
        @include Responsive {
            font-size: 5rem;
        }
    }
    #control-mute {
        font-size: 75px;
        cursor: pointer;
        color: $Comment;
        i {
            &.muted {
                color: $Blue;
            }
        }
        @include Responsive {
            font-size: 5rem;
        }
    }
    #control-volume {
        align-items: center;
        display: flex;
        margin: 0 5%;
        height: 100%;
        width: 100%;
        @include Responsive {
            margin: 0 10%;
        }
        input {
            z-index: 1;
            opacity: 0;
            width: 100%;
            pointer-events: none;
            -webkit-appearance: none;
            &::-webkit-slider-thumb {
                width: 60px;
                height: 60px;
                cursor: pointer;
                border-radius: 100%;
                pointer-events: all;
                background-color: $Red;
                -webkit-appearance: none;
            }
        }
        #runway {
            background-color: $Comment;
            border-radius: 10px;
            position: absolute;
            height: 15px;
            width: 100%;
        }
        #active {
            background-color: $Blue;
            border-radius: 10px;
            position: absolute;
            height: 15px;
            width: 100%;
        }
        #handle {
            transform: translateX(-25px);
            background-color: $Blue;
            justify-content: center;
            border-radius: 100%;
            align-items: center;
            position: absolute;
            display: flex;
            height: 48px;
            width: 48px;
            div {
                font-family: $Gamja;
                font-weight: 700;
                font-size: 28px;
                color: $Black;
            }
        }
        #corona {
            transform: translateX(-30px);
            mix-blend-mode: soft-light;
            background-color: $Blue;
            border-radius: 100%;
            position: absolute;
            height: 60px;
            width: 60px;
        }
    }
}