#loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        font-size: 100px;
        color: $Comment;
        animation: spinning 1000ms infinite linear;
        @keyframes spinning {
            100% {
                transform: rotate(360deg);
            }
        }
    }
    @include Responsive {
        i {
            font-size: 10rem;
        }
    }
}